#root {
  display: inline-block;
}
.App {
  margin: 50px auto;
  width: 1200px;
}
.OrderDetails {
  border: 3px solid red;
  width: 300px;
  background: #47d069;
  border-radius: 3px;
  height: 500px;
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 0px;

}
.ItemsToChoose {
  border: 3px solid red;
  width: 700px;
  background: #47d069;
  border-radius: 3px;
  height: 500px;
  display: inline-block;
  float: right;
}
.text-ITCH{
}
.item-hamburger {
}
.item-to-choose-text{
  font-weight: bold;
  margin: 15px;
}
.btn-hamburger{
  background: url("https://s3.envato.com/files/24992780/hamburger.jpg");
  background-size: 100px 90px;
  margin: 50px;
}
.btn-cheeseburger{
  background: url("https://edge.alluremedia.com.au/m/l/2014/07/Cheeseburger.jpg");
  background-size: 100px 90px;
  margin: 50px;
}
.btn-fries{
  background: url("http://img.taste.com.au/MudZOM3z/taste/2016/11/french-fries-87711-1.jpeg");
  background-size: 100px 90px;
  margin: 50px;

}
.btn-coffee{
  background: url("http://fastweightlosscoffee.com/wp-content/uploads/2014/09/african-mango-coffee-diet.jpg");
  background-size: 100px 90px;
  margin: 50px;
}
.btn-tea{
  background: url("http://7thtraveler.com/wp-content/uploads/2017/08/Tea-Points-In-Nashik.jpg");
  background-size: 100px 90px;
  margin: 50px;
}
.btn-cola{
  background: url("http://www.mezincashandcarry.com/wp-content/uploads/2015/05/Coca-Cola-33cl-CAN1.jpg");
  background-size: 100px 90px;
  margin: 50px;
}
.txt-order-details{
  font-weight: bold;
  margin: 15px;

}